version: 2.1

jobs:
  build-and-test:
    docker:
      - image: cimg/python:3.11

    steps:
      - checkout

      # Install dependencies
      - run:
          name: Install dependencies
          command: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt

      # Run unit tests
      - run:
          name: Run pytest
          command: |
            pytest --maxfail=1 --disable-warnings -q

      # Run flake8 with relaxed rules
      - run:
          name: Run flake8 (lint)
          command: |
            pip install flake8
            flake8 src/ --max-line-length=120 --ignore=E302,E305,W391,W293,W291

workflows:
  main:
    jobs:
      - build-and-test


